body {
  font-family: sans-serif;
  background-color: #581845;
  color: #ffc300;
}

input {
  background-color: #900c3f;
  color: inherit;
  border: none;
}

a {
  color: inherit;
}

[data-reach-slider-range] {
  background: #c70039;
}

[data-reach-slider-track] {
  background: #900c3f;
}

[data-reach-slider-handle] {
  background: #ffc300;
}
