body {
  font-family: "Courier New", Courier, monospace;
  background-color: #8e5f5f;
  color: #9f9fc2;
}

input {
  background-color: #ebaaa9;
  color: inherit;
  border: none;
}

a {
  color: inherit;
}

[data-reach-slider-range] {
  background: #ebaaa9;
}

[data-reach-slider-track] {
  background: #d9a1a0;
}

[data-reach-slider-handle] {
  background: #9f9fc2;
}

h4 {
  padding-left: 3em;
  padding-top: 1em;
}
